{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}NextHire AI{% endblock %}
    </title>


    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>


<body class="bg-slate-50 text-slate-900 font-[Inter] antialiased">


    {% include "components/navbar.html" %}


    <!-- Added top padding because navbar is fixed -->

    <main class="min-h-screen pt-24">


        {% block content %}


        {% endblock %}


    </main>


    {% include "components/footer.html" %}


</body>

</html>